#callback-1 {
  display: flex;
  justify-content: flex-end;
  background-color: #f2f2f2;
}

#pages {
  display: flex;
  justify-content: flex-end;
}

#buy {
  display: flex;
  justify-content: center;
  background-color: #cbf1f4;
}

#callback-2 {
  display: flex;
  justify-content: center;
  background-color: #29bdca;
}